
.sidebar-im {
    width: 0px;
    height: 100%;
    transition: left .3s ease;
    box-shadow: 10px 0 10px -5px rgba(#000, .075);
    background-color: white;

    &.open {
      width: 200px;
    }
  
    .sidebar-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      .sidebar-search {
        > div {
          padding: 10px;
        }

        .input-group {
          &.hidden {
            display: none;
          }
          .form-control {
            box-shadow: none;
            border: 1px solid var(--gray-200);
            &:focus {
              border: 1px solid var(--gray-200);
            }
          }
          .input-group-text {
            border: 1px solid var(--gray-200);
            border-left: 0;
            border-radius: 0.375rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
  
      .sidebar-menu {
        flex-grow: 1;
        overflow: auto;
        .header-menu {
          padding: 10px 5px 5px 10px;
          .header-menu-caret {
            cursor: pointer;
            width: 20px;
          }
        }
      }
      ul {
        list-style-type: none;
        li a {
          display: inline-block;
          width: 100%;
          text-decoration: none;
          position: relative;
          padding: 10px 15px 10px 20px;
          &:hover {
            background: var(--light);
          }
        }
        li.active {
          a {
            background: var(--light);
          }
        }
      }
    }
  }


  