<div [ngClass]="{ open: dataService._openSidebar$ | async }" class="sidebar-im border-right border-light">
  <ng-container 
  *ngTemplateOutlet="loading ? sidebarLoader: sidebarContent">
</ng-container>
  <!-- Content -->
  <ng-template #sidebarContent>
    <div class="sidebar-content">
      <div class="sidebar-search">
        <div [ngClass]="{ hidden: !(dataService._openSidebar$ | async) }" class="input-group">
          <input (input)="onSearchChange($event.target.value)" type="text" class="form-control search-menu" placeholder="Search...">
        </div>
      </div>
        <div class="sidebar-menu">
          <perfect-scrollbar>
            <div *ngFor="let menu of menus; let i = index">
                <div class="header-menu d-flex align-items-center text-secondary justify-content-between font-weight-bold border-top border-light">
                  <div class="d-flex align-items-center">
                    <div (click)="collapseMenus(i)" class="p-1 header-menu-caret">
                      <div *ngIf="menu.collapse;then collapseContent else noCollapseContent"></div>
                      <ng-template #collapseContent><i class="fas fa-caret-down"></i></ng-template>
                      <ng-template #noCollapseContent><i class="fas fa-caret-right"></i></ng-template>
                    </div>
                    <div>{{menu.title}}</div>
                  </div>
                  <div *ngIf="isAdmin">
                    <button (click)="openAddChannel(i)" type="button" class="btn btn-ghost-light btn-pill btn-sm text-secondary"><i class="fa fa-light fa-plus"></i></button>
                  </div>
                </div>
                <div *ngIf="menu.collapse">
                  <ul class="nav navbar-nav" *ngFor="let child of menu.children">
                    <li routerLinkActive="active">
                      <a class="d-flex align-items-center justify-content-between text-secondary" [routerLink]="['room', child.id]">
                        <div>{{child.headline}}</div>
                        <i class="fa fa-light fa-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
          </perfect-scrollbar>
        </div>
    </div>
  </ng-template>
  <!-- Loader -->
  <ng-template #sidebarLoader>
    <div class="w-100 h-100 d-flex align-items-center justify-content-center p-5 text-center"><div class="spinner-border text-secondary" role="status"></div></div>
  </ng-template>
</div>
