<div bsModal #membersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Channel members</h4>
          <button (click)="openAddMemberModal()" type="button" class="btn btn-pill btn-primary btn-sm "><span class="text-nowrap"><i class="fa fa-light fa-plus pr-2"></i>Add member</span></button>
        </div>
        <div class="modal-body">
            <im-current-members-table [members]="channelTableMembers" [maxSize]="maxSize" (removeEmit)="removeEmit($event, 'current')"></im-current-members-table>
            <im-new-members-table [members]="newMembers" [maxSize]="maxSize" (removeEmit)="removeEmit($event, 'new')" (editEmit)="editEmit($event)"></im-new-members-table>
            <div class="btn-group d-flex justify-content-between">
              <button (click)="close()" type="button" class="btn btn-pill btn-sm btn-secondary mr-2">Close</button>
              <button [disabled]="isDisabled()" (click)="save()" type="button" class="btn btn-pill btn-sm btn-primary">
                <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <span>
                  Save
                </span>
              </button>
            </div>
        </div>
      </div>
    </div>
</div>
<im-add-edit-member-channel [members]="channelTableMembers" [newMembers]="newMembers" (newUser)="newUser($event)" (editUser)="editUser($event)"></im-add-edit-member-channel>
