<nav class="header-im navbar navbar-expand-lg navbar-light shadow-sm d-flex justify-content-between"> 
  <div class="d-flex align-items-center">
    <div class="navbar-brand">
      <button (click)="onToggle()" type="button" class="btn btn-sm btn-ghost-secondary"><i class="fa fa-light fa-bars"></i></button>
    </div>
    <div *ngIf="selectedRoom" class="avatar pr-2 d-flex align-items-center">
      <img src="{{selectedRoom.thumbnailUrl}}" class="img-avatar">
    </div>
    <h5 [tooltip]="getTooltip()" placement="right" *ngIf="selectedRoom" class="pr-2">{{selectedRoom.headline}}</h5>
    <button tooltip="Manage channel members" placement="right" (click)="membersChannel()" *ngIf="selectedRoom && selectedRoom.maintainer.id === currentUser.id" type="button" class="btn btn-sm btn-ghost-secondary btn-pill"><i class="fa fa-light fa-user"></i></button>
    <button tooltip="Edit channel" placement="right" (click)="editChannel()" *ngIf="selectedRoom && selectedRoom.maintainer.id === currentUser.id" type="button" class="btn btn-sm btn-ghost-primary btn-pill"><i class="fa fa-light fa-pen"></i></button>
    <button tooltip="Hide channel" placement="right" (click)="hideChannel()" *ngIf="selectedRoom && selectedRoom.maintainer.id === currentUser.id" type="button" class="btn btn-sm btn-ghost-danger btn-pill"><i class="fa fa-light fa-eye-slash"></i></button>
    <div *ngIf="selectedRoom" class="d-flex flex-wrap">
      <span *ngFor="let keyword of selectedRoom.keywords" class="badge badge-pill badge-light mr-2">{{keyword}}</span>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div *ngIf="selectedRoom" class="badge badge-pill badge-secondary p-1 px-2 mr-2">{{dataService._messagesCountChannel$ | async}} message{{(dataService._messagesCountChannel$ | async) !== 1 ? 's' : ''}}</div>
    <div *ngIf="selectedRoom" class="badge badge-pill badge-secondary p-1 px-2 mr-2">{{selectedRoom.dateCreated | date: 'dd/MM/yyyy hh:mm a'}}</div>
    <div [tooltip]="tolMembersTemplate" placement="left" *ngIf="selectedRoom" class="badge badge-pill badge-secondary px-2 p-1">{{selectedRoom.members.length}} member<span *ngIf="selectedRoom.members.length > 1">s</span></div>
  </div>
</nav>
<ng-template #tolMembersTemplate>
  <div *ngFor="let user of selectedRoom.members">
    <small class="font-weight-light text-muted">
      {{user.name}}<span *ngIf="user.name === currentUser.name"> (You)</span>
    </small>  
  </div>
</ng-template>
<im-members-channel (editNewChannel)="editNewChannel($event)"></im-members-channel>
<im-hide-channel></im-hide-channel>
<!-- Edit Channel Modal -->
<im-edit-channel (editNewChannel)="editNewChannel($event)"></im-edit-channel>