<div bsModal #threadMessages="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Message Thread</h4>
            <button type="button" class="close" (click)="threadMessages.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body py-0">
          <div *ngIf="message" class="card">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center m-0">{{message.sender.name}} <h6 class="m-0"><div class="badge badge-pill px-2 badge-secondary ml-1">{{totalRepliesMessages}} {{totalRepliesMessages === 1 ? 'reply' : 'replies'}}</div><div class="badge badge-pill px-2 badge-secondary ml-1">{{message.dateCreated | date: 'dd/MM/yyyy hh:mm a'}}</div></h6></h5>
              <hr class="mt-2 mb-2"/>
              <h6 [innerHTML]="message.body | noSanitize"></h6>
            </div>
          </div>
          <div class="card">
            <div [ngStyle]="styleObject()" class="card-body d-flex flex-column overflow-hidden">
              <div class="flex-grow-1 d-flex align-items-stretch overflow-hidden">
                <ng-container 
                  *ngTemplateOutlet="loadingInitMessages ? contentLoader: dataContent">
                </ng-container>
                <ng-template #contentLoader>
                    <div class="w-100 d-flex align-items-center justify-content-center"><div class="spinner-border text-secondary" role="status"></div></div>
                </ng-template>
                <ng-template #dataContent>
                      <ng-container 
                          *ngTemplateOutlet="messages.length ? messagesContent: noContent">
                      </ng-container>
                      <ng-template #messagesContent>
                        <im-content-messages (toggleReaction)="reactionAction($event)" (fetchMore)="fetchMore()" (deleteMessage)="deleteMessage($event)" [disabled]="disabled" [isLoading]="loadingMessages" [isReplyChat]="true"></im-content-messages>
                      </ng-template>
                      <ng-template #noContent>
                        <div class="w-100 d-flex align-items-center justify-content-center">
                          <i>No replies!</i>
                        </div>
                      </ng-template>
                </ng-template>
              </div>
              <im-content-actions [isReplyChat]="true" [message]="message" [selectedId]="channel.id" (updateMessageReply)="updateMessageReply()"></im-content-actions>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>