p {
    margin: 0;
}
.dropdown-menu {
    min-width: auto;
}
.divider.dropdown-divider {
    margin: 0;
}

.reaction__section {
    font-size: 10px;
}

.badge {
    a {
        color: var(--light);
        text-decoration: underline;
    }
}

bs-dropdown-container {
    z-index: 1050 !important; 
}

.content-results {
    overflow: auto;
    height: 100%;
    &::-webkit-scrollbar {
        width: 6px;
    }
      
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: rgb(170, 170, 170, 0.6);
        border-radius: 6px;
    }
      
    &::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }
}

.inner__message {
    overflow: hidden;
    white-space: break-spaces;
    text-align: start;
}

